.App{
  text-align: center;
}
.App h1{
  color:white;
}
.rows{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height:20vh;
}
.board-container{
  margin-left:15%;
  margin-right:15%;
  /* margin:20px; */
  color:white;
}
.Squares:hover{
  background-color: white;
  color:black;
}